# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependency files
*.d

# Temporary files
.tmp

# Doxygen files
latex
src/html/**/*
src/latex/*

# Ignores the vscode folder
.vscode/**/*

#executavel
JOGO

#pastas geradas pelo Doxygen
html/*
latex/*

#Vim swp
*.swp
*.swo
